<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Vamoh a Dibujah.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E26AA00D1CDEA6340088386B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E26AA0211CDEA6360088386B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E26AA02C1CDEA6360088386B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
